body{
  font-family: 'Courier New', Courier, monospace;
  margin: 0;
  background-color: rgb(62, 62, 62);
}
#root{
  width: 100vw;
  height: 100vh;
  text-align: center;
}
.loginform {
  margin: 0 auto;
  display: inline-block;
  width: 33%;
  max-width: 400px;
  min-width: 200px;
  height: 270px;
  padding: 15px;
  border-radius: 50px 10px;
  background-color: rgb(183, 183, 183);
  font-size: larger;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.loginform button{
  height: 40px;
  width: 30%;
  min-width: 60px;
  margin: 15px;
}
.loginform input{
  text-align: center;
  height: 25px;
  width: 90%;
  font-size: larger;
}